<div class="main_grid">
  <div class="about contact_grid">
    <div class="contact_us">
      <span class="form_num">CONTACT US</span>
    </div>
    <div class="maps">
      <i class="fa fa-map-marker iconcol"></i>
    </div>
    <div class="address">
      <span class="form_num">Electronics Niketan, 6, CGO Complex, Lodhi Road, New Delhi - 110000</span>
    </div>
    <div class="email">
      <i class="fa fa-envelope iconcol"></i>
    </div>
    <div>webmaster@meity.gov.in</div>
    <div class="phone">
      <i class="fa fa-phone iconcol"></i>
    </div>
    <div>+91-11-24301851</div>
    <div class="fax">
      <i class="fa fa-fax iconcol"></i>
    </div>
    <div>+91-11-24364799</div>

  </div>
  <div class="loginbox">
    <div class="iconcol2">
      <svg width="137px" height="137px" viewBox="0 0 137 137" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <circle id="path-1" cx="183.5" cy="319.5" r="61.5"></circle>
          <filter x="-9.3%" y="-7.7%" width="118.7%" height="118.7%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="3.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.607892215   0 0 0 0 0.607803345   0 0 0 0 0.607922554  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="iPhone-X" transform="translate(-115.000000, -253.000000)">
            <g id="Oval">
              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
              <use fill="#D9D9D9" fill-rule="evenodd" xlink:href="#path-1"></use>
            </g>
            <circle id="Oval-2" fill="#4A4A4A" cx="183.5" cy="297.5" r="14.5"></circle>
            <path d="M157,333 L157,330 L158,330 C158,324.477153 170.088312,320 185,320 C199.911688,320 212,324.477153 212,330 L213,330 L213,333 L213,340 L157,340 L157,333 Z"
              id="Combined-Shape" fill="#4A4A4A"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="fieldmargin">
      <div class="form_num" style="font-size:0px;float:left !important;">
        <input disabled style="font-size:1rem;width:30px;height:56px;padding-right:0px;padding-left:5px;text-align:left" type="text"
          placeholder="&#xf2bd;">
        <input style="font-size:1rem;display: inline-block;float: none; ;margin-left:-2px" type="text" placeholder="Email">
      </div>
      <br>
      <div class="form_num" style="font-size:0px;float:left !important;">
        <input disabled style="font-size:1rem;width:30px;height:56px;padding-right:0px;padding-left:7px;text-align:left" type="text"
          placeholder="&#xf023;">
        <input style="font-size:1rem;display: inline-block;float: none; ;margin-left:-2px" type="text" placeholder="Password">
      </div>
      <div>
        <button class="btn btn-1">Submit</button>
      </div>
    </div>
  </div>
</div>