.main_grid{
    height:99vh;
    font-family:'fira sans';
    font-size:16px;
    max-height:100%;
    background: linear-gradient(to bottom right, #afd8fa, #aed9fa, #c6e4fb, #deeffd, #c9dce2, #dae7eb) no-repeat;
}
/* aligned center here */
.loginbox{
    grid-column:2;
    grid-row:2;
    background-color:rgb(255, 255, 255);
    z-index:1;
    width:80%;
    justify-self:center;
    box-shadow: 0px 2px 10px #b3b3b3; 
}
.about{
    grid-column:1/3;
    grid-row:2;
    width:30%;
    height:70%;
    background-color:#474747;
    color:#d3d3d3;
    z-index:2;
    align-self: center;
    margin-left:15%;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 2px 8px #474747;             
} 

hr{
    background-color:rgb(160, 163, 167);
    margin-top:5px;
    margin-right:2px;
    border:none;
    height:0.4px;
}
/* style for grid1 of main login box*/
.main_grid{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns:20vw 60vw 20vw;
    grid-template-rows: 10vh 80vh 10vh; 
}
/* style for grid in Contact Us box */
.contact_grid{
    display:grid;
    grid-template-columns: 25% 75%;
    grid-template-rows:repeat(5,minmax(20%,1fr));
    grid-column-gap: 2%;
    grid-row-gap:1vh;
    padding-left:5%;
    align-items: flex-start;
    margin-left: 20%;
}

.contact_us{
    grid-column:1/3;
    grid-row:1;
    font-size:20px;
    box-shadow: 0 8px 6px -6px black;
    padding-top:5%;
    font-size:30px;
    font-weight: lighter;
}


.iconcol{
    color:black;
}


input {
    padding: 15px 15px;
    border:1px solid #d9d9d9;
    box-sizing: border-box;   
    width: 80%; 
    font-size: 18px; 
    box-shadow: 2px 2px 5px #d9d9d9;
    margin-bottom: 15px;                        
}

  .btn-1 {
background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);

}

.btn:hover {
background-position: right center;
/* change the direction of the change here */
}

.btn {
padding: 10px;
font-size: 20px;
letter-spacing: 2px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: black;
font-family: 'fira sans';
/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
box-shadow: 0 0 20px #F7A666;
border-radius: 10px;
grid-column: 3;
border: 2px;
width: 70%;
margin-top: 10%;
margin-left:4%;
}



a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 20px 60px;
    width: 20%;
}  

.fieldmargin{
    margin-left: 52%;
    margin-top:15%;
}

input{
    font-family:FontAwesome,'fira sans';
}        
.iconcol2{
    color:rgb(160, 163, 167);
    font-size:100px;
    margin-left:60%;
    margin-top:-9%;
}

.form_num {
/* word-wrap: break-word; */
padding:2px;
font-family: 'fira sans';
}
.maps{
grid-column:1;
grid-row: 2;
font-size:30px;
}
.email{
grid-column:1;
grid-row: 3;
font-size:30px;
}
.phone{
grid-column:1;
grid-row: 4;
font-size:30px;
}
.fax{
grid-column:1;
grid-row: 5;
font-size:30px;
}
.address{
grid-column:2;
grid-row:2;
}

